<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
#set($jspath = "/static/js/page/dubbo/base/server.js")
#parse("/common/include.html")  <!--等效 #include-->

<body>
<h3>Hello World! base-web  velocity</h3>

    <div>0-->web项目 ctx=$!{ctx}</div>

    <div>1-->取字段 filed_str=$!{filed_str}</div>

    <div>2-->取字段  map_field_key=$!{map_field_key} 注： 该值由springMvc 在addAll存进去</div>

    <div>3-->取map取 map=$!{map}</div>

    <div>4-->map中取 map.key_0=$!{map.key_0}</div>

    <div>5-->从bean中取 baseServerInfo.id=$!{baseServerInfo.id}; baseServerInfo_json=$util.parse2Json($!{baseServerInfo})

    </div>

    #set($subStr = "123456")
    <div>6-->自定义方法util.subStr使用  util.subStr(${subStr},4,6)=$util.subStr($subStr,4,6)</div>

    <br />

    <div>7-->语法set :  存 # set ($i=1)   取 $ i= $i </div>

    <br />

    <div>8-->语法 遍历List
        #foreach($tem in $!{list})
        <li>list.size()=${list.size()}, count=${foreach.count},index=${foreach.index}: item=${tem}</li>
        #end
        $!{list}.get(0) = $!{list.get(0)}
    </div>

    <div>9-->语法 遍历map
        #foreach($data in $!{map.entrySet()})
        <input type="text" name='${data.key}' index='${foreach.index}' count="${foreach.count}" value='${data.value}' map_size="${map.size()}"/>
        #end

    </div>

    <br />

    <div>10-->语法 if else
        #if('a'=='a')
        <div># if('a'=='a') <br />
            # end
        </div>
        #end

        <br />

        #if(!('a'!='a'))
        <div># if(!('a'!='a'))  <br />
            # end
        </div>
        #end

        <br />

        <div>
            # if()
            <br />
            # else
            <br />
            # end
        </div>

        <br />

        <div>
            # if()
            <br />
            # elseif
            <br />
            # end
        </div>
    </div>


    <script type="application/javascript">
        var page = {}; page.data = {};
        page.data.baseServerInfo = $util.parse2Json(${baseServerInfo});
    </script>

</body>
</html>
