#parse("common/common.html")
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9;IE=8;IE=7;IE=EDGE">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="Shortcut Icon" href="${base}/static/favicon.ico">
<!-- 基本样式--> 
<link rel="stylesheet" type="text/css" href="${ctx}/static/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="${ctx}/static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="${ctx}/static/css/style.css"/>

<script type="text/javascript">
   var ctx = "${base}";
</script>
<script type="text/javascript" src="${base}/static/js/lib/require/require.config.js"></script>
<script type="text/javascript" src="${base}/static/js/lib/require/require.js" data-main="$!{base}$!{jspath}"></script>

